@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');

/* Zerar os espaços para ir moldando do meu jeito */
* {
    margin:0px;
    padding:0px;

}

/* "variaveis" com fontes que usarei */
:root {
    --font-destaque: 'BhuTuka Expanded One', cursive;
    --font-padrão: arial, verdana,helvetica sans-serif;




}

/* configuração Titulo Principal */
h1 {
    font-family: var(--font-destaque);
    text-align: center;
    background-image: linear-gradient(to right, transparent, lightgray, transparent);
    font-size: 3em;
}

header p {
    margin:10px;
    text-align: center;
    font-family: var(--font-padrão);
}

section div p {
    text-align: center;
    line-height: 30px;
    margin-bottom:10px;
    
}

div {
    background-color: lightgray;
    padding:10px;
    text-align: center;
    max-width:1400px;
}

footer {
    background-image:linear-gradient(to right, transparent, lightgray, transparent);
    text-align: center;
    font-family: var(--font-padrão);
    margin-top: 364px;
    padding:5px;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color:black;
    font-weight:bolder;
}

footer a:hover {
    text-decoration: underline;
    
}
